<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vivek Food's</title>
    style 
      include ../static/style.css
      include ../static/contactstyle.css
</head>
<body>
<nav>
<ul> 
   <li><a href="/">Home</a></li>
   <li><a href="/">Menu</a></li>
   <li><a href="">Services</a></li>
   <li><a href="/">About Us</a></li>
   <li><a href="/contact">contact </a></li>
   
</ul>
</nav>
<div class="container">
   <p id="con"> Best Food Service in India OrderNow!</p>
   <p id="con1">Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolor reiciendis quaerat quisquam ratione facilis et illum. Earum molestiae est quae magni quia, repellendus mollitia veniam aliquid libero, quas dolor consequuntur sit. Sapiente culpa recusandae facilis atque enim, cumque consectetur harum quam obcaecati assumenda fugiat eligendi. Modi aperiam iusto molestias eos cupiditate harum eum delectus perferendis ducimus assumenda eius rem nisi in voluptate recusandae facere qui et quam maxime similique illo, ipsum vel. Accusamus totam placeat amet accusantium, illum ratione nam dolores enim dicta commodi asperiores reprehenderit eum repudiandae ut eligendi error nemo, distinctio dolore deserunt harum. Mollitia ratione laudantium quos?</p>
   
  
</div>
<div class="container1">
    <div id="a"><img src="/static/img2.webp" alt="" srcset="" id="a1"></div>
    <div id="b"><img src="/static/del.avif" alt="" srcset="" id="b1"></div>
    <div id="c"><img src="/static/bulk food.jpg" alt="" srcset="" id="c1"></div>

</div>
<div id="sponsor">
    
    <h2 id="sponsor1">Our Sponsors</h2>
    <img src="/static/Zomato_logo.png" alt="" srcset="" id="zomato">
    <img src="/static/Swiggy_logo.png" alt="" srcset="" id="swiggy">
    <img src="/static/blinkit_logo.png" alt="" id="blinkit">
</div>


    
</body>
</html>