<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>send otp</title>
   
</head>
<body>
    <form action="/verifyotp" method="post" class="formmm">
        <input type="text" name="verify otp" placeholder="Enter the otp sent to your email">
         <button class="btn3">verify</button>
    </form>
    <script src="https://smtpjs.com/v3/smtp.js">
    </script>
</body>
</html>